body {
    background-color: whitesmoke;
    color: black;
}

body, article {
    max-width: 700px;
    margin: auto;
}

article + article {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid gray;
}
